{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2>Locus Live-Tracking for BottlePy</h2>
    <p>Here are the sites you can visit:</p>
    <ul>
      <li><a href="entire-history">Entire Location History</a></li>
      <li><a href="latest">Latest Location</a></li>
    </ul>
{% endblock %}

