{% extends "base.jinja2" %}

{% block title %}Latest Location{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/leaflet-1.0.3/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/static/leaflet-1.0.3/leaflet.ie.css" />
    <![endif]-->
    <script src="/static/leaflet-1.0.3/leaflet.js"></script>
    <style type="text/css">
      #map { height: 350px; }
    </style>
{% endblock %}

{% block content %}
  <h2>Latest Location</h2>
    {% if event %}
      <ul>
        <li>Date and Time: {{ event.server_time|unixtime_to_iso8601|replace('T',' ') }}</li>
        <li>Accuracy: {{ event.acc }} m</li>
        <li>Speed: {{ event.speed }} m/s</li>
        <li>Latitude: {{ event.lat }} ° N</li>
        <li>Longitude: {{ event.lon }} ° E</li>
        <li>Altitude: {{ event.alt }} m</li>
        <li>Battery: {{ event.battery }} %</li>
        <li>GSM Signal: {{ event.gsm_signal }} %</li>
        <li>Link: <a href="http://www.openstreetmap.org/?mlat={{ event.lat }}&mlon={{ event.lon }}&zoom=14">OSM</a></li>
      </ul>
      <div id="map"></div>
      <script>
        $(function(){
          CM_URL = 'http://{s}.tile.cloudmade.com/83956be84ed943009b9fa582c4e8d7a4/{styleId}/256/{z}/{x}/{y}.png';
          CM_ATTR = 'Map data &copy; ' +
            '<a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://cloudmade.com">CloudMade</a>';
          OSM_URL = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
          OSM_ATTRIB = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors';
          var map = L.map('map').setView([{{ event.lat }}, {{ event.lon }}], 13);
          //L.tileLayer(CM_URL, {attribution: CM_ATTR, styleId: 997, detectRetina: true}).addTo(map);
          L.tileLayer(OSM_URL, {attribution: OSM_ATTRIB, detectRetina: true}).addTo(map);
          L.control.scale().addTo(map);
          var marker = L.marker([{{ event.lat }}, {{ event.lon }}]).addTo(map);
          marker.bindPopup("<b>Latest Location:</b><br />{{ event.lat }} N, {{ event.lon }} E");
        });
      </script>
    {% else %}
      <p>No location available.</p>
    {% endif %}
{% endblock %}



