table { border-collapse: collapse; }
table, td { border:1px solid green; }
th { border:1px solid white; }
td { padding: 7px 9px; }
th {
  padding: 4px 6px;
  background-color:green;
  color:white;
}
th[data-sort]{
  cursor:pointer;
}

#footer {
  margin: 30px auto 2px auto;
}
